
body{
  margin: 0px;
  padding: 0px;
}

.container {
    padding: 26px;
    width: 50%;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 50px;
    position: relative;
  }
.btn{
    width: 40%;
    
}

#nav-id{
  background-color:lightcoral;
}

